// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$skiin-yellow: #F5C54A;
$skiin-darkblue: #1A3853;
$skiin-lightblue: #53789A;
$skiin-darkgray: #18191B;
$skiin-mediumgray: #18191B;
$skiin-gray: #828489;
$skiin-lightgray: #C6C7CA;
$skiin-whitegray: #EDF2F7;

