.card {
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
  h3 {
    font-family: $headers-font;
    font-weight: bold;
    color: #1A3853;
  }
}

.form-group {
  input {
    border-radius: 5px !important;
  }
}
