// Import page-specific CSS files here.
@import "home";
@import "my_show";
@import "other_user_show";
@import "skivent_modal";
//@import "show_user";

@import "new_skivent";

// .background-show {
//   color: white;
// }
.modal {
    color: $skiin-darkgray;
  h4 {
    color: $skiin-darkblue;
  }
  h5 {
    color: $skiin-darkblue;
  }
}
