.level_content_container {
    width: 100%;
    input {
      width: 100%;
    }
}

.level-content {
  display: flex;
  justify-content: space-between;
}

.background-show {
  background-color: white;
  color: white;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
}

.card-name-picto {
  flex-direction: column;
  margin: 24px;
}

.tab-content {
  color: $skiin-darkblue;
  height: 70vh; /* or any value */
  overflow-y: auto;
}


