.level_content_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .inputs {
    flex-grow: 1;
  }
  #ski-level-input {
    width: 100%;
  }

  .edit_user input[type="submit"]{
    border: none;
    background: none;
    color: white;

  }
}

.level-content {
  display: flex;
  justify-content: space-between;
}

.background-show {
  // background-color: white;
  // color: white;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
}

.card-name-picto {
  flex-direction: column;
}

.tab-content {
  color: $skiin-darkblue;
  height: 725px;
  overflow-y: auto;
}

// Styling of the tabs

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.active {
  color: #1A3853;
  border-bottom: 3px solid #1A3853;
}


.input-group-text-car {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  input {
    -webkit-appearance: none;
  }

  .checked-input {
    background-color: $skiin-yellow;
    width: 24px;
    height: 24px;
  }
}

.btn-add-event{
  font-size: 17px;
}

.card-simpleform-btn {
  .btn-yellow{
    font-size: 18px;
    border: 2px solid $skiin-yellow;
    width: 130px;
    color: $skiin-darkblue;
    background-color: $skiin-yellow;
    &:hover {
        color: $skiin-yellow;
        background-color: $skiin-darkblue;
        text-decoration: none;
        border: 2px solid $skiin-yellow;
    }
  }

  .btn-yellow.btn-border{
    font-size: 18px;
    border: 2px solid $skiin-yellow;
    width: 130px;
    color: $skiin-yellow;
    background-color: transparent;
    &:hover {
        color: $skiin-darkblue;
        background-color: $skiin-yellow;
        text-decoration: none;
        border: 2px solid $skiin-yellow;
    }
  }
}

.fa-arrow-left {
  color: $skiin-yellow;
  display: flex;
  margin-top: 25px;
  position: space-between;
}

.input-group-text-car {
  background-color: white;
}
