.level_content_container {
    width: 100%;
    input {
      width: 100%;
    }
}

.level-content {
  display: flex;
  justify-content: space-between;
}

.background-show {
  background-color: white;
  color: white;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
}

.card-name-picto {
  flex-direction: column;
}

.tab-content {
  color: $skiin-darkblue;
  height: 80vh; /* or any value */
  overflow-y: auto;
}

// Styling of the tabs

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.active {
  color: #1A3853;
  border-bottom: 3px solid #1A3853;
}
