
.background-content {
  padding: 15px;
}

h5 {
 font-weight: 500;
}

.content-other-user {
}


  .content-skivent-user {
      width: 500px;
      margin-top: 20px;
  }


  .btn-user {
      display: flexbox;
      justify-content: center;
  }

  .content_btn {
    margin: 70px;
}

.card-user-name {
    color:white;
}

.content-name {
  display: flex;
  flex-direction: column;
  padding: 36px;
  position: relative;
}

.content-description-other-user{
  margin-top: 16px;
  margin-bottom: 16px;
}

.content-info-other-user {

}


.content-hobby {
  margin-bottom: 40px;
}

.hobbies-info-other-user {
  margin-top: 16px;
  margin-bottom: 16px;

}
.content-drive {
  margin-top: -10px;
}

.card-user-info {


}

.level-content {
     margin-bottom: 10px;
}

.skivents-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.picto-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }

