
.background-content {
  padding: 15px;
}

h5 {
 font-weight: 500;
}

.card-profile {
  h5, h6 {
    color: $skiin-darkblue;
    text-transform: uppercase;
  }
  p {
    color: $skiin-darkgray;
    text-transform: capitalize;
  }
  h4 {
    color: $skiin-darkblue;
  }
}

.fa-arrow-left {
  color: $skiin-darkblue;

}

.content-other-user {
}



  .content-skivent-user {
      width: 500px;
      margin-top: 20px;
  }


  .btn-user {
      display: flexbox;
      justify-content: center;
  }

  .content_btn_user {
    margin-top: 30px;
    color: $skiin-darkblue;
    background-color: #EDF2F7;
    border: 2px solid $skiin-darkblue;
    border-radius: 10px;
    &:hover {
        color: $white;
        background-color: $skiin-darkblue;
        text-decoration: none;
        border: 2px solid white;
    }

}

.card-user-name {
    color:white;
}

.content-name {
  display: flex;
  flex-direction: column;
  padding: 36px;
  position: relative;
}

.content-description-other-user{
  margin-top: 16px;
  margin-bottom: 16px;
}

.content-info-other-user {

}


.content-hobby {
  margin-bottom: 40px;
}

.hobbies-info-other-user {
  margin-top: 16px;
  margin-bottom: 16px;

}
.content-drive {
  margin-top: -10px;
}

.card-user-info {


}

.level-content {
 margin-bottom: 10px;

}

.skivents-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.picto-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;


  }

.card-hobbies {
  border-radius: 10px;
}

.card-hobbie {
  background-color: $skiin-darkblue;

  .card-tex-hobbies {
    color: white;
  }
}

.input-group-text-car {
  background-color: $skiin-darkblue;
}

