
.background-content {
  background-color: #EDF2F7;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color:black;
  padding: 15px;

}

h5 {
 font-weight: 500;
}

.content-other-user {
    margin-left: 60px;
}


  .content-skivent-user {
      width: 500px;
      margin-top: 20px;
  }


  .btn-user {
      display: flexbox;
      justify-content: center;
  }

  .content_btn {
    margin: 70px;
}

.card-user-name {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.content-name {
  display: flex;
  flex-direction: column;
  padding: 36px;
  position: relative;
}

.content-description{
    margin: 40px;
}

.content-info {
    margin: 40px;
}

.content-hobby {
    margin-bottom: 40px;
}
.hobbies-info {
    margin-top: 10px;

}
.content-drive {
        margin-top: -10px;
}

.level_content_container {
    margin-top: 24px;
}

.level-content {
     margin-bottom: 10px;
}

.skivents-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.picto-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }

