<div class="content-other-user height-min">

  <div class="margin-top-user">
    <div class="row flex-nowrap">
      <%= render "users/other_user_info_card"%>

      <div class="col-sm-12 col-lg-7 mb-3 pt-2">
        <!-- Tab Nav -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active"
              id="nav-past-skivents-tab"
              data-toggle="tab"
              href="#nav-past-skivents"
              role="tab"
              aria-controls="nav-past-skivents"
              aria-selected="true">
              Past skivents
            </a>
            <a class="nav-item nav-link"
              id="nav-incoming-skivents-tab"
              data-toggle="tab"
              href="#nav-incoming-skivents"
              role="tab"
              aria-controls="nav-incoming-skivents"
              aria-selected="false">
              Incoming skivents
            </a>
            <a class="nav-item nav-link"
              id="nav-reviews-tab"
              data-toggle="tab"
              href="#nav-reviews"
              role="tab"
              aria-controls="nav-reviews"
              aria-selected="true">
              Reviews
            </a>
          </div>
        </nav>

        <div class="tab-content pt-3" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-past-skivents" role="tabpanel" aria-labelledby="nav-past-skivents-tab">

            <% @past_skivents.each do |skivent| %>
              <%= render 'skivents/dashboard_card', { skivent: skivent, pending: false } %>
            <% end %>

          </div>
          <!-- enf of past skivents tab -->

          <div class="tab-pane fade show" id="nav-incoming-skivents" role="tabpanel" aria-labelledby="nav-past-skivents-tab">

            <% @upcoming_skivents.each do |skivent| %>
              <%= render 'skivents/dashboard_card', { skivent: skivent, pending: false } %>
            <% end %>

          </div>
          <!-- end of past skivents tab -->

          <div class="tab-pane fade show" id="nav-reviews" role="tabpanel" aria-labelledby="nav-past-skivents-tab">

            <% @ratings.each do |rating| %>
            <%= render 'shared/card_reviews', { rating: rating } %>
            <% end %>


          </div>
          <!-- enf of past skivents tab -->




        </div>
        <!-- tab-content -->



      </div>

    </div>

  </div>

</div>
