<div class="margin-top">

  <div class="row flex-nowrap">
    <%= render "users/other_user_info_card"%>
    <div class="col-sm-12 col-lg-6 mb-3">
      <div class="skivents-cards-grid">
        <% @user.skivents.each do |skivent| %>
          <%= render 'skivents/card', skivent: skivent %>
          <%= render "skivents/skivent_modal", skivent: skivent %>
        <% end %>

      </div>
    </div>
  </div>

</div>
