<div class="margin-top">
  
    <div class="row flex-nowrap">
        <%= render "users/user_info_card"%>
        <% @user.skivents.each do |skivent| %>
            <div class="col-sm-12 col-lg-6 mb-3">
                <%= render 'skivents/card', skivent: skivent %>
             </div>
                <%= render "skivents/skivent_modal", skivent: skivent %>
            <% end %>
    </div>

</div>
