<div class="footer">
    <div class="footer-links" style="align-self: center">
      <a href="https://www.facebook.com/events/575433103263473/"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonmontreal/"><i class="fab fa-fw fa-instagram"></i></a>
    </div>


    <div class="fas fa-heart" style="align-self: center">
      <a href="https://www.linkedin.com/in/amandinecar/"><i> Amandine </i></a>
      <a href="https://www.linkedin.com/in/charlottemontane/"><i> Charlotte </i></a>
      <a href="https://www.linkedin.com/in/chlo%C3%A9-saurat/"><i> Chloé </i></a>
      <a href="https://www.linkedin.com/in/ryan-salah-266b3818b/"><i> Ryan </i></a>
    </div>
</div>


