<div class="footer">

   <!--  <div class="footer-links" style="align-self: center">
      <a href="https://www.facebook.com/events/575433103263473/"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonmontreal/"><i class="fab fa-fw fa-instagram"></i></a>
    </div> -->

    <!-- Button trigger modal -->
  <a href="#" data-toggle="modal" data-target="#exampleModal">
    Contact us
  </a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div style="align-self: center">
            <span class="far fa-snowflake"></span>
            <a href="https://www.linkedin.com/in/amandinecar/">Amandine</a>
            <a href="https://www.linkedin.com/in/charlottemontane/">Charlotte</a>
            <a href="https://www.linkedin.com/in/chloesaurat">Chloé</a>
            <a href="https://www.linkedin.com/in/ryan-salah-266b3818b/">Ryan</a>
            <span class="far fa-snowflake"></span>
          </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>





</div>


