<div class="footer <%= @footer_hidden ? 'hide' : '' %> ">

   <!--  <div class="footer-links" style="align-self: center">
      <a href="https://www.facebook.com/events/575433103263473/"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonmontreal/"><i class="fab fa-fw fa-instagram"></i></a>
    </div> -->

    <!-- Button trigger modal -->
  <a href="#" data-toggle="modal" data-target="#footerModal">Contact us</a>

  <!-- Modal -->
  <div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="footerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="footerModalLabel">Contact us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <!-- <span class="far fa-snowflake"></span> -->
            <a href="https://www.linkedin.com/in/amandinecar/"><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/rdw8huo8s0zfs5wvdzcl.jpg" alt="Amandine" class="avatar"></a>
            <a href="https://www.linkedin.com/in/charlottemontane/"><img src="https://avatars1.githubusercontent.com/u/55248679?v=4" alt="Charlotte" class="avatar"></a>
            <a href="https://www.linkedin.com/in/chloesaurat"><img src="https://avatars1.githubusercontent.com/u/55254804?v=4" alt="Chloé" class="avatar"></a>
            <a href="https://www.linkedin.com/in/ryan-salah-266b3818b/"><img src="https://media.licdn.com/dms/image/C5603AQGjh9zf54-xQA/profile-displayphoto-shrink_100_100/0?e=1579737600&v=beta&t=cq63vIyjXk8wXMWu_HftNoGS1W3MrLiPD9-yjh4ub9s" alt="Ryan" class="avatar"></a>
            <!-- <span class="far fa-snowflake"></span> -->
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>





</div>


