<div class="footer">
    <div class="footer-links">
      <a href="https://www.facebook.com/events/575433103263473/"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonmontreal/"><i class="fab fa-fw fa-instagram"></i></a>
      <div>
      <p><i class="fas fa-heart"></i> Ski in <i class="fas fa-heart"></i></p>
  </div>
