
<div class="fullscreen-container">

  <video id="VideoBackground" poster="https://res.cloudinary.com/mandarine8/image/upload/v1574890386/o8fxl4kkhix3yvmnj898.jpg" autoplay muted loop>
    <source src="https://res.cloudinary.com/mandarine8/video/upload/v1574890189/ocsqjst8mb2r6vyqepz7.mp4" type="video/mp4">
  </video>

  <%= form_tag skivents_path, method: :get do %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Enter a city or a resort name" />
      <button name="button" type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

</div>
