.badge-count {
  display: block;
  position: relative;

  &::after {
    content: attr(data-count);
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    background-color: $danger;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    text-align: center;
  }
}
