.card-skivent {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  // img {
  //   max-width: 100%;
  // }
}

.resort-name {
  font-size: 12px;
  text-transform: uppercase;

  a {
    background: $skiin-darkblue;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
  }
}

.skivent-date {
  font-size: 12px;
  color: $skiin-gray;
}

.card-title {
  color: $skiin-darkblue;
}

.card-text {
  color: $skiin-mediumgray;
}

.card-skivent-user-show {
  width: 80%;
  display: flex;
}

.card-skivent-infos {
  margin-left: 8px;
}

.card-picture-skivent-user-show {
  display: flex;
}


.card-skivent .card-title{
  cursor: pointer;
    &:hover{
      text-decoration: underline;
      color: $skiin-yellow;
    }
  }

.img-skivent {
  max-width: 50%;
  object-fit: cover;
}

.card-skivent-host {
  img {
    position: relative;
    margin-left: -18px;
  }

  .avatar {
    border: 3px solid white;
  }
}

.card-avatars {
  display: flex;
  justify-content: space-between;
  .avatar-name {
    display: none;
  }
  &:hover .avatar-name{
    display:block;
  }
}
.card-avatars-booked {
  display: flex;
  justify-content: space-between;
}

.card-avatars-booked a {
  display: block;
  color: $skiin-mediumgray;
}

.card-hobbie {
  border-radius: 5px;
  border: 2px white solid;
}

.card-hobbies-content {
  margin-top: 20px;
}

.card-hobbies-cross {
  background-color: white;
  color: $skiin-darkblue;
  &:hover {
    cursor: pointer;
  }
}

.card-profile {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  padding: 36px;
  position: relative;
  .btn-add-event {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.card-user-name-rating {
  display: flex;
  justify-content: center;
  .avatar-big {
    margin-right: 20px;
  }
  i {
    color:$skiin-yellow;
  }
}
.card-color {
  color: black;
}

.card-name-picto {
  flex-direction: column;
}

.card-user-description {
  margin-top: 20px;
}

.card-user-info {
  margin-top: 20px;
}

.card-driving {
  margin-top: 20px;
}

.card-hobbies {
  margin-top: 20px;
}

.red {
  color: rgb(210, 61, 51);
}

.card-heart{
    position: absolute;
    right: 16px;
    top: 15px;
}

.skivent-date{
  position: absolute;
    right: 16px;
    top: 180px;
}


