.resort-carousel {
  .carousel{
    position: relative;
  }

  .header-container{
    position: absolute;
    width: 100%;
    bottom: 24px;
    height: 16%;
    display: flex;
    justify-content: center;

    h3{
      z-index: 1;
      font-weight: bold;
      color: white;
      font-size: 50px;
    }
  }

  .carousel-item {
    width: 100%;
    height: 520px;
    background-size: cover;
    background-position: center;
  }
}

