.card-skivent {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  min-height: 460px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.resort-name {
  font-size: 12px;
  text-transform: uppercase;

  a {
    background: $skiin-darkblue;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
    min-width: 86px;
  }
}

.card-title {
  color: $skiin-darkblue;
  font-size: 150% ;
}

.card-text {
  color: $skiin-mediumgray;
}

.card-skivent-user-show {
  width: 80%;
  display: flex;
}

.card-skivent-infos {
  margin-left: 8px;
  margin-top: -15px!important;
}

.card-picture-skivent-user-show {
  width: 650px;
  display: flex;
  .card-img-left {
    width: 175px;
    height: 175px;
  }
  img {
  object-fit: cover;
  }
}


.card-skivent .card-title{
  cursor: pointer;
    &:hover{
      // text-decoration: underline;
      color: $skiin-yellow;
    }
  }

.img-skivent {
  max-width: 50%;
  object-fit: cover;
}

p.card-booking-subtitle {
  color: grey;
  font-size: 12px;
}

.card-skivent-host {
  position: relative;
  img {
    //position: relative;
    //margin-left: -186px;
  }

  .avatar {
    border: 3px solid white;
    left: 6px;
    position: absolute;
    top: 20px;
        
  }


}
.picto-snow {
  margin-right: 5px;
}
.card-avatars {
  display: flex;
  justify-content: space-between;

  // .avatar-name {
    // display: none;
  // }
  // &:hover .avatar-name{
  //   display:block;
    // margin-bottom: 5px;
  // }
  .avatar-rating {
    // display: none;
  // }
  // &:hover .avatar-rating{
    color: #F5C54A;
  }
}
.card-avatars-booked {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 24px;
  top: 226px;
  width: 40px;
}

.card-avatars-booked a {
  display: block;
  color: $skiin-mediumgray;
  margin: 0 15px 15px 0;
}

.card-hobbie {
  border-radius: 5px;
  border: 2px white solid;
}


.card-hobbies-cross {
  background-color: white;
  color: $skiin-darkblue;
  &:hover {
    cursor: pointer;
  }
}

.card-profile {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  padding: 36px;
  position: relative;
  .btn-add-event {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.card-user-name-rating {
  display: flex;
  justify-content: center;
  .avatar-big {
    margin-right: 20px;
  }
  i {
    color:$skiin-yellow;
  }
}
.card-color {
  color: black;
}

.card-name-picto {
  flex-direction: column;
}

.card-user-description {
  margin-top: 20px;
}

.card-user-info {
  margin-top: 20px;
}

.card-driving {
  margin-top: 20px;
}

.card-hobbies {
  margin-top: 20px;
}

.red {
  color: rgb(210, 61, 51);
}

.card-heart{
    position: absolute;
    right: 16px;
    top: 15px;
}

.card-img-left {
  width: 25%;
  object-fit: cover;
}

.card-resort-title {
  margin-left: 8px;
  font-size: 12px;
  text-transform: uppercase;

  p {
    background: $skiin-darkblue;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
    width: 35%;
  }
}

.card-skivent-my-show {
  padding: 8px;
}
