#map {
  width: 90% !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: bold;
  font-weight: 25px;
}

canvas.mapboxgl-canvas {
  width: 670px !important;
}

.mapboxgl-ctrl {
  transform: translate(-50px, 0) !important;
}

// .mapbox-marker {
//   background: $skiin-lightblue;
//   color: $skiin-darkblue;
//   width: 120px;
//   height: 30px;
//   &::before {
//     content: attr(data-skivents);
//     color: $skiin-darkblue;
//     font-size: 24px;
//   }
//     &::after {
//     content: attr(data-resort);
//     color: $skiin-darkblue;
//     font-size: 24px;
//   }
// }

.map-container {
  height: 100vh;
  position: sticky !important;
  top: 0;
}
