#map {
  width: 90% !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

canvas.mapboxgl-canvas {
  width: 660px !important;
}

.mapboxgl-ctrl {
  transform: translate(-50px, 0) !important;
}
