.card-pictos, .card-skivent-description{
  grid-column: 1 / 3;
  grid-row: 1;
}

.card-skivent-host {
  grid-column: 3;
  grid-row: 3;
}

.modal-skiin{
  max-width: 1000px;
  margin: 3rem auto;
}

.modal{
  h3{
    color: $skiin-darkblue;
  }
}
