.navbar {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  h3 {
    color: $skiin-yellow;
  }

  &.navbar-transparent {
    background-color: transparent;
  }

  &.background-transparent {
  justify-content: space-between;
  background-color: transparent;
  }

  &.navbar-absolute {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    z-index: 2;
  }

}
