.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  h3 {
    color: pink;
  }

  &.navbar-transparent {
    background-color: transparent;
  }
}
